/* Ensure navbar brand and logo are horizontal */
.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}


/* Logo size */
.navbar-logo {
    height: 64px;
    width: auto;
    padding: 10px;
    margin-left: 30px;
}

.navbar-logo:hover{
    height: 71px;
    width: auto;
    padding: 10px;
    margin-left: 27px;
    cursor: pointer;
}

.nav-link:first-child {
    margin-left: 2px; /* smaller than 13px for others */
}

/* Nav links horizontal */
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    font-family: 'Verdana', sans-serif;
}

/* Hover and active link colors */
.nav-link:hover,
.nav-link.active {
    color: #4da3ff;
}

/* Navbar container background */
.nav-bar-container {
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-wrapper {
    height: 80px;
    width: 90px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0;
}
