.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /*background: #f7fafc;*/
}

.landing-content {
    margin-top: 60px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.landing-highlight {
    background: rgba(20, 25, 40, 0.95);
    padding: 48px 56px;
    border-radius: 20px;

    max-width: 900px;
    width: 100%;

    box-shadow:
            0 0 0 5px rgba(120, 140, 255, 0.25),
            0 6px 10px rgba(0, 0, 0, 0.6),
            0 0 8px rgba(120, 140, 255, 0.15);

    transform: scale(1);
    transition:
            transform 0.35s ease,
            box-shadow 0.35s ease;

    justify-content: center;
    align-items: center;
}

.home-page-logo {
    width: 180px;
    margin-bottom: 20px;
    position: relative;
    left: 294px;
}

.landing-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 12px;
}

.landing-desc {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 32px;
}

.landing-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.landing-btn {
    background: #2563eb;
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.2s;
}

.landing-btn:hover {
    background: #1e40af;
}

a{
    color: #1984f7;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

a:hover{
    color: #0458b3;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}


