.map-graph-title{
    text-align: center;
    margin-bottom: 16px;

    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;

    color: #1f2933;
    letter-spacing: 0.5px;
}