.set-dropdown-list-btn {
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    border: none;
    color: white;
    padding:6px 12px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    transition: background 0.3s, box-shadow 0.3s;
}

.pressed-set-dropdown-list-btn {
    background: linear-gradient(90deg, #1E87B0, #1E87B0);
    border: none;
    color: white;
    padding:5px 10px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    transition: background 0.3s, box-shadow 0.3s;
}

.set-dropdown-list-btn:hover {
    background: linear-gradient(90deg, #ffc371, #ff5f6d);
    box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}
