.map-image-container {
    position: relative;
    width: 200px;
    height: auto;
    display: inline-block;
}

.map-image-container img {
    width: 200px;
    height: 300px;
    display: block;
}

.banned-map-image-container img {
    filter: grayscale(100%) brightness(0.6);
}


.banned-map-image-container::before {
    content: "✕";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: 700;
    color: red;
    z-index: 2;
    pointer-events: none;
}

.pick-ban-map-container{
    display: flex;
    flex-direction: column;
    padding: 8px;
}


.map-name {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0;
}

.map-subtext {
    font-size: 0.75rem;
    font-weight: 600;
    opacity: 0.85;
}